<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Fresnica</vendor>
  <vendor_url>https://fresnica.com/</vendor_url>
  <action id="com.fresnica.system-auth.release">
    <description>Authorize Fresnica wallet use</description>
    <message>Authentication is required to authorize Fresnica wallet use</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>
</policyconfig>
